[data-list-marker="false"] > * {
  list-style: none;
}

[data-list-marker="true"] {
  --data-list-marker-width: 1ch
}

[data-list-marker="true"] > * {
  margin-inline-start: var(--data-list-marker-width);
  padding-inline-start: calc(var(--size-spacing-md) - var(--data-list-marker-width));
}

[data-list-marker="true"] > ::marker {
  content: '\2022';
}
