@keyframes spinner {
  to {transform: rotate(360deg);}
}

.Icon {
  flex: none;
  fill: currentColor
}

.Icon[data-spinner="true"] {
  stroke: currentColor;
  stroke-width: 3;
  fill: none;
  animation: spinner 1s linear infinite;
}
