.Input {
  --border-width: var(--input-border-width);
  padding-block: calc(var(--size-spacing-sm) - var(--border-width));
  padding-inline: calc(var(--size-spacing-md) - var(--border-width));
  border-color: var(--border-color-default);
  border-width: var(--border-width);
  font-family: 'Amsterdam Sans', serif;
  font-size: var(--text-font-size-body);
  line-height: var(--text-line-height-body);
}

.Input:focus {
  --border-width: var(--input-focus-border-width);
}
