.Button {
  --background-color: transparent;
  --border-color: transparent;
  --border-width: var(--size-border-lg);
  --padding-block: var(--size-spacing-sm);
  --padding-inline: var(--size-spacing-md);
  --height: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--height);
  color: var(--color);
  background-color: var(--background-color);
  padding-block: calc(var(--padding-block) - var(--border-width));
  padding-inline: calc(var(--padding-inline) - var(--border-width));
  border-color: var(--border-color);
  border-style: solid;
  border-width: var(--border-width);
}

.Button[data-variant="primary"] {
  --background-color: var(--bg-color-button);
  --border-color: var(--border-color-button-emphasis);
  --color: var(--text-color-inverse);
}

.Button[data-variant="primary"]:hover {
  --background-color: var(--bg-color-button-hover);
}

.Button[data-variant="primary"]:disabled {
  --background-color: var(--bg-color-button-disabled);
  --border-color: var(--border-color-button-secondary-disabled);
}

.Button[data-variant="secondary"] {
  --background-color: var(--bg-color-cutout);
  --border-color: var(--border-color-button-emphasis);
  --color: var(--text-color-button-secondary);
}

.Button[data-variant="secondary"]:hover {
  --background-color: var(--bg-color-cutout);
  --border-color: var(--border-color-button-secondary-hover);
  --border-width: var(--size-border-xl);
  --color: var(--text-color-button-secondary-hover);
}

.Button[data-variant="secondary"]:disabled {
  --border-color: var(--border-color-button-secondary-disabled);
  --color: var(--text-color-button-secondary-disabled);
}


.Button:disabled {
  cursor: not-allowed;
}

.Button[data-flex="true"] {
  flex: auto;
}
