[data-inset="no"]:not([data-inset-horizontal]):not([data-inset-vertical]) {padding: var(--size-spacing-no);}
[data-inset="xs"]:not([data-inset-horizontal]):not([data-inset-vertical]) {padding: var(--size-spacing-xs);}
[data-inset="sm"]:not([data-inset-horizontal]):not([data-inset-vertical]) {padding: var(--size-spacing-sm);}
[data-inset="md"]:not([data-inset-horizontal]):not([data-inset-vertical]) {padding: var(--size-spacing-md);}
[data-inset="lg"]:not([data-inset-horizontal]):not([data-inset-vertical]) {padding: var(--size-spacing-lg);}
[data-inset="xl"]:not([data-inset-horizontal]):not([data-inset-vertical]) {padding: var(--size-spacing-xl);}
[data-inset="xxl"]:not([data-inset-horizontal]):not([data-inset-vertical]) {padding: var(--size-spacing-xxl);}
[data-inset="xxxl"]:not([data-inset-horizontal]):not([data-inset-vertical]) {padding: var(--size-spacing-xxxl);}

[data-inset-horizontal="no"] {padding-inline: var(--size-spacing-no);}
[data-inset-horizontal="xs"] {padding-inline: var(--size-spacing-xs);}
[data-inset-horizontal="sm"] {padding-inline: var(--size-spacing-sm);}
[data-inset-horizontal="md"] {padding-inline: var(--size-spacing-md);}
[data-inset-horizontal="lg"] {padding-inline: var(--size-spacing-lg);}
[data-inset-horizontal="xl"] {padding-inline: var(--size-spacing-xl);}
[data-inset-horizontal="xxl"] {padding-inline: var(--size-spacing-xxl);}
[data-inset-horizontal="xxxl"] {padding-inline: var(--size-spacing-xxxl);}

[data-inset-vertical="no"] {padding-block: var(--size-spacing-no);}
[data-inset-vertical="xs"] {padding-block: var(--size-spacing-xs);}
[data-inset-vertical="sm"] {padding-block: var(--size-spacing-sm);}
[data-inset-vertical="md"] {padding-block: var(--size-spacing-md);}
[data-inset-vertical="lg"] {padding-block: var(--size-spacing-lg);}
[data-inset-vertical="xl"] {padding-block: var(--size-spacing-xl);}
[data-inset-vertical="xxl"] {padding-block: var(--size-spacing-xxl);}
[data-inset-vertical="xxxl"] {padding-block: var(--size-spacing-xxxl);}

[data-negative-inset-horizontal="no"] {margin-inline: calc(var(--size-spacing-no) * -1);}
[data-negative-inset-horizontal="xs"] {margin-inline: calc(var(--size-spacing-xs) * -1);}
[data-negative-inset-horizontal="sm"] {margin-inline: calc(var(--size-spacing-sm) * -1);}
[data-negative-inset-horizontal="md"] {margin-inline: calc(var(--size-spacing-md) * -1);}
[data-negative-inset-horizontal="lg"] {margin-inline: calc(var(--size-spacing-lg) * -1);}
[data-negative-inset-horizontal="xl"] {margin-inline: calc(var(--size-spacing-xl) * -1);}
[data-negative-inset-horizontal="xxl"] {margin-inline: calc(var(--size-spacing-xxl) * -1);}
[data-negative-inset-horizontal="xxxl"] {margin-inline: calc(var(--size-spacing-xxxl) * -1);}
