.Screen {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color-screen);
}

.Container {
  width: var(--size-screen-width);
  padding-inline: var(--size-spacing-xl);
  background-color: var(--bg-color-cutout);
}
