body {
  font-family: 'Amsterdam Sans';
}

.username {
  /* Text input mobile */
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;

  position: absolute;
  width: 344px;
  height: 44px;
  left: 15px;
  top: 182px;

  /* Primary colours/primary-black */

  border: 1px solid #000000;
}

.password {
  /* Text input mobile */
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;

  position: absolute;
  width: 344px;
  height: 44px;
  left: 15px;
  top: 241px;

  /* Primary colours/primary-black */

  border: 1px solid #000000;
}

.submitlogin {
  /* Auto layout */
  padding: 0px;

  position: absolute;
  width: 344px;
  height: 48px;
  left: 15px;
  top: 301px;

  /* Primary colours/primary-blue */
  background: #004699;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.submitlogintext {
  width: 76px;
  height: 29px;

  /* Desktop/body-small */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  letter-spacing: 0.2px;
  text-align: center;
  /* Primary colours/primary-white */

  color: #FFFFFF;
}

.loginimage {
  /* image 1 */
  position: absolute;
  width: 375px;
  height: 420px;
  left: 0px;
  top: 392px;

  background: url(/public/city.png);
  opacity: 0.75;
}

.logo {
  position: absolute;
  width: 375px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: url(/public/Amsterdam-logo.svg);
}

.aangemeld {
  position: absolute;
  top: 62.5px;
  left: 339.75px;
  bottom: 0%;
  width: 22.5px;
  height: 22.5px;

  /* Primary colours/primary-blue */
}

.navigation {
  position: absolute;
  width: 144px;
  height: 29px;
  left: 15px;
  top: 110px;


  /* Desktop/body-small */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  letter-spacing: 0.2px;
  color: #004699;
}

a:link,
visited,
hove,
active {
  text-decoration: none;
  color: #004699;
}

.mainpage_title {
  position: absolute;
  width: 335px;
  height: 51px;
  left: 18px;
  top: 133px;

  /* Mobile/H1-small */
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 110%;

  color: #000000;

}

.page_title {
  position: absolute;
  width: 335px;
  height: 51px;
  left: 18px;
  top: 159px;

  /* Mobile/H1-small */
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 110%;
  /* or 33px */

  color: #000000;
}

.inputfield {
  /* Text input mobile */
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  margin-top: 10px;
  margin-left: 15px;
  gap: 10px;

  width: 344px;
  height: 44px;

  /* Primary colours/primary-black */
  border: 1px solid #000000;

}

.select {
  /* Text input mobile */
  box-sizing: border-box;

  /* Auto layout */

  padding: 8px 24px;
  margin-left: 15px;

  width: 344px;
  height: 44px;

  /* Primary colours/primary-black */
  border: 1px solid #000000;
}

ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;

  /* Desktop/body-small */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  letter-spacing: 0.2px;

  color: #000000;
}

.button-full-width {
  /* Auto layout */
  padding: 0px;

  position: absolute;
  width: 344px;
  height: 48px;
  margin-top: 10px;
  left: 15px;

  /* Primary colours/primary-blue */
  background: #004699;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 105px;
  width: 360px;
  display: flex;
  text-align: center;
  line-height: 40px;
}

.block {
  flex: 0 0 110px;
  margin: 5px;
  background-color: #004699;
  color: #FFFFFF;
}

.bigger {
  flex: 344px;
  color: #FFFFFF;
}

.page_body {
  position: absolute;
  top: 190px;
  color: #004699;
}